In [34]:
import glob
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv(glob.glob("*.csv")[0])

In [75]:
df

,firm,address,website,revenue,N employee,social media,city,twitter,linkedIn,instagram,facebook
0,Microsoft,"One Microsoft Way ,Redmond,98052,United States...",https://www.microsoft.com/,1.982700e+11,181000,"['https://twitter.com/microsoft', 'https://www...",Redmond,https://twitter.com/microsoft,https://www.linkedin.com/company/microsoft,https://www.instagram.com/microsoft,https://www.facebook.com/microsoft
1,Salesforce,"415 Mission Street, San Francisco,CA",https://www.salesforce.com,2.125000e+10,35000,"['https://twitter.com/salesforce', 'https://ww...",San Francisco,https://twitter.com/salesforce,https://www.linkedin.com/company/salesforce,https://www.instagram.com/salesforce,https://www.facebook.com/5634829153
2,Bouygues Construction,"Challenger , Guyancourt ,Saint-Quentin-en-Yvel...",bouygues-construction.com,1.230000e+10,52800,NaN,Guyancourt,NaN,NaN,NaN,NaN
3,BNP Parisbas,"3 rue d'Antin ,Paris,75002",https://www.bnpparibas.fr/,4.438560e+10,192000,"['https://twitter.com/bnpparibas', 'https://ww...",Paris,https://twitter.com/bnpparibas,https://www.linkedin.com/company/bnp-paribas,https://www.instagram.com/bnpparibas,https://www.facebook.com/mabanque.bnpparibas
4,HSBC,"8 Canada Square,London",https://www.hsbc.com/,4.438560e+10,228000,"['https://twitter.com/hsbc', 'https://www.link...",London,https://twitter.com/hsbc,https://www.linkedin.com/company/hsbc,https://www.instagram.com/hsbc,https://www.facebook.com/hsbc
5,Dataiku,New York,http://www.dataiku.com/,1.500000e+08,1200,['https://twitter.com/dataiku'],New York,https://twitter.com/dataiku,NaN,NaN,NaN

# get city from address

In [25]:
cities = [ address.split(',')[1] for address in df["address"][:-1]]

In [27]:
 cities.append("New York")

In [28]:
cities

['Redmond', ' San Francisco', ' Guyancourt ', 'Paris', 'London', 'New York']

In [29]:
df["city"]=cities

# create a column per social media

In [62]:
for i in [0,1,3,4,5]:
    df.loc[i, "twitter"] = df.loc[i,"social media"].split("'")[1]

In [68]:
 df.loc[0,"social media"].split("'")[7]

'https://www.facebook.com/microsoft'

In [69]:
for i in [0,1,3,4]:
    df.loc[i, "linkedIn"] = df.loc[i,"social media"].split("'")[3]
    df.loc[i, "instagram"] = df.loc[i,"social media"].split("'")[5]
    df.loc[i, "facebook"] = df.loc[i,"social media"].split("'")[7]

# add missing value for dataiku

In [73]:
df.loc[5, "revenue"] = 150*1000000 #source google

In [74]:
df.to_csv("delpha_for_tableau.csv", index =False)