In [1]:
import glob
import pandas as pd
import numpy as np

In [4]:
glob.glob("*.csv")

['delpha_for_tableau.csv', 'delpha_scrapping_mcoutarel.csv']

In [5]:
df = pd.read_csv(glob.glob("*.csv")[1])

In [6]:
df

,firm,address,website,revenue,N employee,social media
0,Microsoft,"One Microsoft Way ,Redmond,98052,United States...",https://www.microsoft.com/,1.982700e+11,181000,"['https://twitter.com/microsoft', 'https://www..."
1,Salesforce,"415 Mission Street, San Francisco,CA",https://www.salesforce.com,2.125000e+10,35000,"['https://twitter.com/salesforce', 'https://ww..."
2,Bouygues Construction,"Challenger , Guyancourt ,Saint-Quentin-en-Yvel...",bouygues-construction.com,1.230000e+10,52800,NaN
3,BNP Parisbas,"3 rue d'Antin ,Paris,75002",https://www.bnpparibas.fr/,4.438560e+10,192000,"['https://twitter.com/bnpparibas', 'https://ww..."
4,HSBC,"8 Canada Square,London",https://www.hsbc.com/,5.144500e+10,228000,"['https://twitter.com/hsbc', 'https://www.link..."
5,Dataiku,New York,http://www.dataiku.com/,NaN,1200,['https://twitter.com/dataiku']

# get city from address

In [7]:
cities = [ address.split(',')[1] for address in df["address"][:-1]]

In [8]:
 cities.append("New York")

In [9]:
cities

['Redmond', ' San Francisco', ' Guyancourt ', 'Paris', 'London', 'New York']

In [10]:
df["city"]=cities

# create a column per social media

In [11]:
for i in [0,1,3,4,5]:
    df.loc[i, "twitter"] = df.loc[i,"social media"].split("'")[1]

In [12]:
 df.loc[0,"social media"].split("'")[7]

'https://www.facebook.com/microsoft'

In [13]:
for i in [0,1,3,4]:
    df.loc[i, "linkedIn"] = df.loc[i,"social media"].split("'")[3]
    df.loc[i, "instagram"] = df.loc[i,"social media"].split("'")[5]
    df.loc[i, "facebook"] = df.loc[i,"social media"].split("'")[7]

# add missing value for dataiku

In [14]:
df.loc[5, "revenue"] = 150*1000000 #source google

In [15]:
df.to_csv("delpha_for_tableau.csv", index =False)